.product{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.productkey{
margin: 10px;
margin-top: 10px;
padding: 10px; 
box-shadow: 10px 10px 5px lightblue;
text-align: center;
}
.productimage{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.productprice{
    font-weight: bold;
}
.productdiscount{
    color: orangered;
}

.button{
    color: blue;
}